<table>
  <th>URL</th>
  <th>Hash</th>
  <th>Count</th>
  <% if @shortcuts.length > 0 %>
    <% @shortcuts.each do |s| %>
      <tr>
        <td><%= s.url %></td>
        <td><%= s.hash %></td>
        <td><%= s.visit_count %></td>
      </tr>
    <% end %>
  <% end %>
</table>
